body {
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
background-color: rgb(18, 71, 92);
}
body::-webkit-scrollbar {
width: 10px;
background: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
background: #09319c;
} 

body, p, h1, ul, li, blockquote {
padding: 0px;
margin: 0px;


}
@media only screen and (min-width: 600px) {
.serunibot{
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  color: #000000;
  width: 150px;
  height: 40px;
  margin-left: 60px;
}
}

@media only screen and (max-width: 1000px) {
  .serunibot{
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    color: #000000;
    width: 150px;
    height: 40px;
    margin-left: 10px;
  }
  }
  @media (max-width: 700px) {
.posiss{
   
    color: #0353af;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 17px;
  }
  
    
  }
  @media (min-width: 600px) {
    .posiss{
      color: #1558bb;
      position: relative;
      top: 36em;
      text-align: justify;
      font-size: 17px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
    }
    
 
  }



#todos {
max-width: 100%;
width: 100%;
border-radius: 5px;

}

.linhar{
text-align: justify;
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
}
.sub{
color:rgb(158, 7, 7);


}
.subir{
position: relative;
top: -1em;

}
/* GRID GERAL */

.estrutura {
display: grid;
/* Minmax é para definir o mínimo que quero dela, a última eu quero 300px fixo sempre. */
grid-template-columns: minmax(160px, 1fr) 3fr 300px;
grid-template-areas:
  "header header header"
  "sidenav content anuncios"
  "footer footer footer"
;
}

@media (max-width: 1200px) {
.estrutura {
  grid-template-areas:
    "header header header"
    "sidenav content content"
    "sidenav anuncios anuncios"
    "footer footer footer"
  ;
}
}

@media (max-width: 760px) {
.estrutura {
  grid-template-columns: 100%; /* 1fr está bugando */
  grid-template-areas:
    "header"
    "sidenav"
    "content"
    "anuncios"
    "footer"
  ;
}
}



#subirTopo{
z-index: 1000;
}




@media (max-width: 760px) {
.header {
  grid-template-columns: auto;
}
.logo {
  margin-bottom: 20px;
}
.header nav a {
  font-size: 1em;
}
.header li + li {
  margin-left: 10px;
}
}

/* SIDENAV */










/* CONTENT */

.content {
grid-area: content;
margin: 0 auto;
}

/* ANUNCIOS */


/* FOOTER */




/* GRID DO CONTENT */

.content {
display: grid;
max-width: 900px;
grid-template-columns: 1fr 1fr;
grid-gap: 30px;
padding: 30px;
}

@media (max-width: 600px) {
.content {
  grid-template-columns: auto;
}
}









.footer {
position: relative;
grid-area: footer;
background: linear-gradient(135deg, #016f9b, #ceb901);
top: 11em;
text-align: justify;
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
}
.footer p {
color: white;
text-align: center;
padding: 30px;


}

/* Animação */


#subirTopo {
text-decoration: none;
background: rgba(10, 170, 219, 0.459);
bottom: 30px;
right: 30px;
color: #fff;
text-align: center;
cursor: pointer;
padding: 5px;
font-size: 15px;
font-weight: bold;
text-transform: uppercase;
position: fixed;
border: 0;
font-family: sans-serif;
opacity: .8;
border-radius: 10px;
}

#subirTopo:hover {
opacity:1;
} 

@media only screen and (max-width: 1000px) {
.redonfoto{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  left: 6em;
  top:5em;
}
.fontes{

  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #073bac;

  margin-top:4em ;
  margin-left:3em ;
}
.infor{
  position: relative;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;

  color: #073bac;
  left: 4em;
  top: 3em;
  width: 300px;
  text-align: center;
}
}


@media only screen and (min-width: 600px) {
  .redonfoto{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    left: 46em;
    top:5em;
  }
  .fontes{
    position: relative;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #073bac;
    left: 21em;
    top: 3em;
  }
  .infor{
    position: relative;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
 
    color: #073bac;
    left: 28em;
    top: 6em;
    width: 750px;
    text-align: center;
  }
  }
  @media only screen and (min-width: 600px) {
    .embreve{
      font-size: 3em;
      color: #000;
      text-align: center;
      margin-left: 12em;
      width: 600px;
      margin-top: 3em;
    }
  
  }
    @media only screen and (max-width: 1000px) {
      .embreve{
        font-size: 2em;
        color: #000;
        text-align: center;
        margin-left: 2em;
        width: 300px;
        margin-top: 3em;
      }
    
      }
   
      @media only screen and (min-width: 600px) {
        .time{
          position: relative;
          left: 30em;
          width:400px ;
          height: 300px;
          border: none;
        }
      
      }
        @media only screen and (max-width: 1000px) {
          .time{
          display: none;
          }
        
          }

      /* facebook */
      @media only screen and (min-width: 600px) {
        .facebookpage1{
          border:none;
          overflow:hidden;
          margin-top:-200px ;
        }
        }
       
        @media only screen and (max-width: 1000px) {
        .facebookpage1{
          display: none;
        }
          }
          /* mobile */
          @media only screen and (min-width: 600px) {
            .facebookpage2{
            display: none;
            }
            
      
          }
            @media only screen and (max-width: 1000px) {
             .facebookpage2{
              border:none;
              overflow:hidden;
            margin-left: 10px;
            margin-top: -10px;
              }
            }
            /* atletas facebook */


            @media only screen and (min-width: 600px) {
              .fb-post1{
           position: relative;
           left: 10em;
           width: 300px;
           margin-left: 0em;
           margin-top: 2em;
          border-radius: 10px;
            
              }
              .fb-post2{
                position: relative;
                left: 10em;
                top: -10em;
                bottom: -5em;
                width: 300px;
                border-radius: 10px;
     
                 
                   }
                   .fb-post3{
                    position: relative;
                    left: 10em;
                    width: 300px;
                    top: -14em;
                    border-radius: 10px;
         
                     
                       }
                       .fb-post4{
                        position: relative;
                        left: 10em;
                        width: 300px;
                        margin-left: 0em;
                        top: -33em;
                        border-radius: 10px;
                         
                           }
                           .fb-post5{
                            position: relative;
                            left: 10em;
                            width: 300px;
                            margin-left: 0em;
                            top: -42em;
                            border-radius: 10px;
                             margin-bottom: -45em;
                               }
                               .fb-post6{
                                position: relative;
                                left: 10em;
                                width: 300px;
                                margin-left: 0em;
                                top: 0em;
                                border-radius: 10px;
                                 /* margin-bottom: -45em; */
                                   }
/* 
              #alunos{
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-size: 2em;
                margin-left: 18em;
                margin-top: 1em;
                font-weight: 500;
              } */
             
              .compartilhar1{
                position: relative;
                left: 17em;
                top: -15em;
                 z-index: 100;
                
              }
              .compartilhar2{
                position: relative;
                left: 17em;
                top: -21em;
                 z-index: 100;
              }
              .compartilhar3{
                position: relative;
                 left: 17em;
                 top: -43em;
                  z-index: 100;
                }
                .compartilhar4{
                  position: relative;
                  left: 17em;
                top: -49em;
                   z-index: 100;
                  
                }
                .compartilhar5{
                  position: relative;
                  left: 17em;
                top: -10em;
                   z-index: 100;
                  
                }
              .biografia1{
                position: relative;
                font-size: 15px;
               text-align: justify;
               width: 500px;
               top: -20em;
               left: 35em;

             bottom: -100px;
              }
              .biografia2{
                position: relative;
                font-size: 15px;
               text-align: justify;
               width: 500px;
               top: -30em;
               left: 35em;

             bottom: -100px;
              }
              .biografia3{
                position: relative;
                font-size: 15px;
               text-align: justify;
               width: 500px;
               top: -35em;
               left: 35em;

             bottom: -100px;
              }
              .biografia4{
                position: relative;
                font-size: 15px;
               text-align: justify;
               width: 500px;
               top: -51em;
               left: 35em;

             bottom: -100px;
              }
              .biografia5{
                position: relative;
                font-size: 15px;
               text-align: justify;
               width: 500px;
               top: -17em;
               left: 35em;

             bottom: -100px;
              }
              .biografia6{
                position: relative;
                font-size: 15px;
               text-align: justify;
               width: 500px;
               top: -17em;
               left: 35em;

             bottom: -100px;
        
            }
          }
              @media only screen and (max-width: 1000px) {
              
                .fb-post{
                  position: relative;
           left: 3em;
           width: 300px;
           margin-left: 0em;
           margin-top: 1em;
                   
                     }
                     #alunos{
                      font-family:Verdana, Geneva, Tahoma, sans-serif;
                      font-size: 2em;
                      margin-left: 1em;
                      margin-top: 1em;
                      font-weight: 500;
                    }
           
              .compartilhar1{
           
                margin-left: 10em;
                margin-top: 1em;
              }
            
              .compartilhar2{
              position: relative;
               left: 10em;
               top: -0em;
                z-index: 100;
              }
              .compartilhar3{
                position: relative;
                 left: 10em;
                 top: 0em;
                  z-index: 100;
                }
                .compartilhar4{
                  position: relative;
                  left: 10em;
                  top: 1em;
                   z-index: 100;
                  
                }
                .compartilhar5{
                  position: relative;
                  left: 10em;
                top: 1em;
                   z-index: 100;
                  
                }
              #configura{
                width: 300px;
                height: 300px;
                margin-left: 2em;
              border-radius: 10px;
                margin-top: 3em;
              }
              #ajuste{
                width: 340px;
                margin-left: 1em;
                text-align: justify;
              }

              .desaparece{
                display: none;
              }
              }

          
              @media only screen and (min-width: 600px) {
                .voleigaleria{
                  margin-top: 30px;
                  margin-left: 13px;
                  border-radius: 30px;
                  
    
                  }
                  .galeria{
                    font-size: 3em;
                     color: #000;
                    text-align: center;
                    font-weight: 600;
                    width: 600px;
                    margin-top: 30px;
                    margin-left: 25em;
                    font-size: 20px;
                
                  }
              }
                @media only screen and (max-width: 1000px) {
                  .voleigaleria{
                    margin-top: 30px;
                    margin-left: 50px;
                    border-radius: 10px;
                    
      
                    }
                    .galeria{
                      font-size: 3em;
                       color: #000;
                      font-weight: 600;
                      margin-top: 30px;
                      margin-left: 3em;
                      font-size: 20px;}
                }
              
               
                  @media only screen and (max-width: 1000px) {
                    .pix{
                      width:30px ;
                      height: 30px;
                      
                     
                  }
                  .conta{
                    position: relative;
                    top: -2em;
                    left: 3em;
                    text-align: left;
                  color: rgb(0, 81, 255);
                  font-size: 14px;

                  }
                  #id{
                    width: 300px;
                    height: 320px;
                  }
                 
                  }
                  #pi3{
                    position: relative;
                    top: -4em;
                  }
                 
                


              